@media screen and (max-width:320px) {
    .name-empresa{
        display: none;
    }
    .logotipo{
        display: block;
        height: 50px;
        width: auto;
    }
   .menu-responsivo{
    position: relative;
    
   }
    .menu{
    position:absolute;
    background-color:#012060;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    top: 75px;
    width: 160px;
    right: 0px;
   }
   .icone-menu{
    display:block;
   }
   .barra{
    width:30px;
    height: 5px;
    margin: 5px;
   }
   
   .menu a{
    display:block;
   }
   
  
    
}
@media screen and (min-width:320px) and (max-width:375px) {
    .name-empresa{
        display: none;
    }
    .logotipo{
        display: block;
        height: 50px;
        width: auto;
    }
   .menu-responsivo{
    position: relative;
    
   }
    .menu{
    position:absolute;
    background-color:#012060;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    top: 75px;
    width: 160px;
    right: 0px;
   }
   .icone-menu{
    display:block;
   }
   .barra{
    width:30px;
    height: 5px;
    margin: 5px;
   }
   
   .menu a{
    display:block;
   }
    
    
}
@media screen and (min-width:375px) and (max-width:667px) {
    .name-empresa{
        display: none;
    }
    .logotipo{
        display: block;
        height: 50px;
        width: auto;
    }
   .menu-responsivo{
    position: relative;
    
   }
    .menu{
    position:absolute;
    background-color:#012060;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    top: 75px;
    width: 160px;
    right: 0px;
   }
   .icone-menu{
    display:block;
   }
   .barra{
    width:30px;
    height: 5px;
    margin: 5px;
   }
   
   .menu a{
    display:block;
   }
    
    
}
@media screen and (min-width:667px) and (max-width:736px) {
    .name-empresa{
        display: none;
    }
    .logotipo{
        display: block;
        height: 50px;
        width: auto;
    }
   .menu-responsivo{
    position: relative;
    
   }
    .menu{
    position:absolute;
    background-color:#012060;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    top: 75px;
    width: 160px;
    right: 0px;
   }
   .icone-menu{
    display:block;
   }
   .barra{
    width:30px;
    height: 5px;
    margin: 5px;
   }
   
   .menu a{
    display:block;
   }
    
    
}