@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: 'sans';
    src: url('/fonte/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    }
body, html{
    overflow-x: hidden;
}

.header{
    display: flex;
    background-color:#182C61;
    justify-content: space-around;
    align-items: center;
    padding:30px;
}
.empresa{
    font-family:'sans';
    display: inline;
    text-align: center;
    color: white;
}
.logotipo{
    display: none;
}

.icone-menu{
    display:none;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.nav-mobile{
    display: none;
}

.barra{
    max-height: 6px;
    min-height: 2px;
    margin: 7px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    max-width: 70px;
    min-width: 40px;
}

.menu a{
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'sans';

}
.icon-zap{
    height: 30px;
    margin: 5px;
}
.zap{
    background-color: green;
    display: flex;
    align-items: center;
}

 a:hover{
    color: white;
    background-color: rgb(17, 17, 70);

}
header a, footer a{
    text-decoration: none;
    color: white;
}
.insta{
    width: 4%;
    
}
.img-carrossel{
    height:100%;
    width: 100%;
}
h2.vi{
    text-align: center;
    padding-top: 20px;
    font-family: 'sans';
}
div.video{
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    padding-bottom: 50%;
    position: relative;

}
.video1{
    margin: auto;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
footer{
    background-color:#3a4b5f;
    display: flex;
    height: 400px;
    justify-content:space-around;
    align-items: center;

}
.footer-rodape{
    background-color: #393b48;
    height: 50px;
}
.box{
    color: white;
    padding: 100px;
    border: 1px solid white;
}
.logo-final{
    margin: auto;
    display: block;
    width: 100px;
}
.icones{
    margin: auto;
    display: inline-block;
}
.icon{
    margin: auto;
    display: block;
    width: 50%;
}
.botao{
    padding-top: 25px;
}
.buton{
    text-align: center;
    background-color: tomato;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
}



